* {
    box-sizing: border-box;
}

header {
    background: #323232;
    font-size: .9em;
    color: white;
    font-weight: bold;
    width: 100%;
    padding: 0 16px;
    float: left;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body, main {
    background: #E5E5E5;

}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    padding-left: 1em;
}

a {
    color: white;
}

footer {
    background: #646464;
    color: white;
    float: left;
    width: 100%;
}

.nav-logo {
    width: 7%;
    height: 7%;
    float: left;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-item {
    display: inline-block;
    padding: 0 1.5em;
    border-right: solid 1px grey;
    height: 30px;
}

.nav {
    list-style: none;
}

.nav-sign-in:hover {
    border-bottom: solid 4px #1388BB;
    padding: 1em;
}

.nav-news:hover {
    border-bottom: solid 4px #1388BB;
    padding: 1em;
}

.nav-sport:hover {
    border-bottom: solid 4px #FED230;
    padding: 1em;
}

.nav-weather:hover {
    border-bottom: solid 4px #88CCEE;
    padding: 1em;
}

.nav-iplayer:hover {
    border-bottom: solid 4px #1169FF;
    padding: 1em;
}

.nav-tv:hover {
    border-bottom: solid 4px #589E50;
    padding: 1em;
}

.nav-radio:hover {
    border-bottom: solid 4px #064473;
    padding: 1em;
}

.nav-more:hover {
    border-bottom: solid 4px white;
    padding: 1em;
}

.error404 {
    padding-top: 4em;
    padding-bottom: 4em;
}

.error404-box {
    border: 1px solid lightgrey;
    background: #E0E0E0;
    padding-bottom: 2em;
    padding-top: 2em;
    width: 100%;
}

.error404-message {
    width: 626px;
    height: 278px;
    background: url(../img/bbc-background.jpg);
    padding: 1em;
    margin-right: auto;
    margin-left: auto;
}

.img-error {
    float: right
}

.error-text {
    font-size: 15px;
}

.footer-link {
    text-decoration: none;
}

.left-footer {
    float: left;
    font-size: 13px;
    width: 33%;
    padding: 1.5em;
}

.footer-logo {
    width: 25%;
    height: auto;
}

.right-footer {
    width: 50%;
    float: right;
    font-size: 13px;
}

.right-footer:after {
    content: "";
    clear: both;
}

.column {
    padding: 10px;
}

.column1, .column2 {
    text-decoration: none;
    list-style: none;
}