.jumbotron {
    background: url("../img/pizza.png");
    background-size: cover;
}
.display-4 {
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

.card {
    border-color: #BCE8F1;
}
.card-body {
    background-color:#D9EDF7;
    color: #3A7795;
}

.list-group-item {
    background-color: #D9EDF7;
    color: #3A7795
}
