body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    padding: .5em;
    margin: .5em auto;
    border: solid 1px lightgrey;
    border-radius: 5px;
    width: 90%;
}

.message-info {
    background-color: #CDDEFF;
    color: #383095;
}

.message-success {
    background-color: #CFF3DA;
    color: #186F3B;
}

.message-warning {
    background-color: #FCFBC9;
    color: #8A7713;
}

.message-error {
    background-color: #FAD3D7;
    color: #AD5A6D;
}