.btn {
    border: 1 px;
    background-color: white;
    color: black;
    padding: 10px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

/*Primary*/
.btn-primary{
    background-color: #147BFF;
    color: white;
}

.btn-outline-primary {
    border-color: #147BFF;
    color: #147BFF;
}

.btn-outline-primary:hover {
    background-color: #147BFF;
    color: white;
}

/*Secondary*/
.btn-secondary {
    background-color: #6C757D;
    color: white;
}

.btn-outline-secondary {
    border-color: #6C757D;
    color: #6C757D;
}

.btn-outline-secondary:hover {
    background-color: #6C757D;
    color: white;
}

/*Success*/
.btn-success {
    background-color: #27A745;
    color: white;
}

.btn-outline-success {
    border-color: #27A745;
    color: #27A745;
}

.btn-outline-success:hover {
    background-color: #27A745;
    color: white;
}

/*Danger*/
.btn-danger {
    background-color: #DC3545;
    color: white;
}

.btn-outline-danger {
    border-color: #DC3545;
    color: #DC3545;
}

.btn-outline-danger:hover {
    background-color: #DC3545;
    color: white;
}

/*Warning*/
.btn-warning {
    background-color: #FEC105;
    color: black;
}

.btn-outline-warning {
    border-color: #FEC105;
    color: #FEC105;
}

.btn-outline-warning:hover {
    background-color: #FEC105;
    color: black;
}

/*Info*/
.btn-info {
    background-color: #18A2B8;
    color: white;
}

.btn-outline-info {
    border-color: #18A2B8;
    color: teal
}

.btn-outline-info:hover {
    background-color: #18A2B8;
    color: white;
}

/*Light*/
.btn-light {
    background-color: whitesmoke;
    color: black;
}

.btn-outline-light {
    border-color: whitesmoke;
    color: whitesmoke;
}

.btn-outline-light:hover {
    background-color: ghostwhite;
    color: black;
}

/*Dark*/
.btn-dark {
    background-color: black;
    color: white;
}

.btn-outline-dark {
    border-color: black;
    color: black;
}

.btn-outline-dark:hover {
    background-color: black;
    color: white;
}

.btn-lg {
    font-size: larger;
}

.btn-sm {
    font-size: small;
}

.btn-block {
    width: 100%
}

.active {
    background-color: #0D62CC;
    color: white;
}