h1 {
    text-align: center;
}
h1, h2 {
    color: darkcyan;
    text-decoration: underline;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue;
    background-image: url("../img/swirl.jpg");
    background-position: center;
    background-attachment: fixed;

}

li {
    list-style-type: lower-roman;
}
li:hover {
    list-style-type: lower-greek;
    font-family: 'Permanent Marker', cursive;
}
table, tr, td, th {
    padding: 1em;
    font-size: 1em;
    border-style: groove;
    border-width: 3px;
    background-color: rgba(240, 248, 255, 0.7);
}
/* unvisited link (:link) */
a:link {
    color:mediumslateblue;
}

/* visited link (:visited) */
a:visited {
    color:royalblue;
}

/* mouse hover over link (:hover) */
a:hover {
    color:steelblue;
}

/* active/selected link (:active) */
a:active {
    color:blueviolet;
}
#product {
    text-indent: 115px;
}
